/delete-node/ &storage_partition;

/ {
	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs";
			partition = <&storage_partition>;
			automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
		};
	};
};

&flash_sim0 {
	partitions {
		storage_partition: partition@1000 {
			label = "storage";
			reg = <0x00001000 0x00080000>;
		};

		/* Todo, use this partition with FATFS NAND: (DISK_DRIVER_FLASH) 
		 * With big sector size
		 * erase-block-size = < 0x400 >;
		 * write-block-size = < 0x4 >;
		 */
		storage_partition2: partition@81000 {
			label = "storage2";
			reg = <0x00081000 0x00040000>;
		};
    };
};